export MWB_NC_APP_NAME=frontend_insight
export MWB_NC_APP_DIR=$(git rev-parse --show-toplevel)
export MWB_NC_APPS_ROOT=$(dirname "$MWB_NC_APP_DIR")

echo Application name: $MWB_NC_APP_NAME
echo Application dir: $MWB_NC_APP_DIR
echo Nextcloud app root: $MWB_NC_APPS_ROOT


